.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.edited{
  width: 18rem;
  margin: 10px;
  text-align: left;
}

.artist_name{
  text-align: left;
  margin-top: 10px;
}

.artist{
  color: #1ed760;
}

.icon{
  position: relative;
  right: -30%;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.col-2 label{
  font-size: 25px;
}

.card-title{
  margin-bottom: 0;
}

.search-box{
  position: relative;
  top: 20px;
}

.close-button,.search,.login{
  background-color: transparent;
  border: 1px solid gray;
  outline: none;
  border-radius: 10px;
  height: 50px;
  width: 15%;
}

.close-button{
  width: 100%;
}

.close-button:hover,.login:hover{
  background-color: grey;
}

.wrapper:after {
  font-family: 'Font Awesome 5 Free';
  color:red;
  position: relative;
  left: -30px;
  content: "\f002 ";
}

.main-wrapper{
  width: 50%;
  margin-left: 25%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.picture{
  padding: 0;
}

.picture img{
  width: 100% ;
  height: 200px
}

.text{
  padding: 0 20px;
  line-height: 0;

}

.album-desc p,.text p{
  font-size: 16px;
  text-align: left;
  position: relative;
  top: 0;
  line-height: 1;
}

.artist-name{
  opacity: .7
}

.tracks{
  line-height: 0;
}

.album-desc{
  position: relative;
  bottom: 0;
}

.album-desc h5, .text h5{
  text-align: left;
  position: relative;
  top: 0;
  line-height: 1;
  margin: 0;
}

.preview{
  background-color: gray;
  position: relative;
  
}

.preview a:link{
  text-decoration: none;
  color: white;
}


.grid-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  border: 5px solid gray;
  margin: 30px;
  font-size: 30px;
  text-align: center;
}